/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 /**Reset Additions**/
 img {
   max-width:100%;
 }
 .clearfix {
   float:none;
   clear:both;
 }
/*sets up first half of screen*/
* {
  font-family: 'Open Sans', sans-serif;
}
main {
  height: 100vh;

  > nav {
    display:flex;
    justify-content: center;
  }// > nav

  .timeline {
    /**set up for an individual event, when not in focus**/
    .timeline-event:before {
      content:'';
      position:absolute;
      top:70px;
      left:90%;
      height:1px;
      width:30%;
      background-color:black;
    }
    .timeline-event:nth-child(even):before {
      left:0;
    }
    .timeline-event {
      display:block;
      /*display:none;*/
      margin:0 auto;
      padding:1%;
      max-width:35%;
      border: 1px solid black;
      border-radius:5px;

      p {
        /**hides description**/
        display: none;
      }
      &:hover p {
        display:block;
        /*this is being compiled*/
      }
    }
  }//.timeline
}//main




.years {
    position:fixed;
    display:flex;
    background-color:#9f9f9f;
    height:100%;
    width:30px;
    right:30px;
    top:0;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;

    a {
      display:block;
      transform:rotate(-90deg);
      -ms-transform:rotate(-90deg);
      -webkit-transform:rotate(-90deg);
    }//a
}

/**for when a new timeline or event is added**/
.new-timeline-popup,
.new-event-popup {
  /*display:block;*/
  display:none;
  position:fixed;
  top:20%;
  // left:20%;
  width:400px;
  margin:0 auto;
  justify-content: center;
  background-color:gray;
}

/******
FOOTER
*****/
footer {
  width:90%;
  margin:0 auto;
  text-align:center;
  border-top:1px solid gray;
}
